# Скомпилированные файлы и архивы
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Папки сборщиков (удалены опасные исключения с !)
out/
target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
/out/

### OS files ###
.DS_Store
Thumbs.db

